<h1>hi from index</h1>
<div class="grid">
  <% @workouts.each do |workout| %>
    <div>
      <p><%= workout.content %></p>
      <p><%= link_to"Edit", edit_workout_path(workout) %></p>
      <p><%= link_to "Destroy", workout, data: {turbo_method: :delete} %></p>
    </div>
  <% end %>
</div>
