<h1>TrainingWeeks#show</h1>
<p>Find me in app/views/training_weeks/show.html.erb</p>
<p><%= @training_week.id %></p>
<% @training_week.workouts.each do |workout| %>
  <p><%= workout.content %></p>
<% end %>
