<h1>Current Training Week</h1>
<% if @training_week.exists? %>
  <p><%= @training_week.first.id %></p>
  <% @training_week.first.workouts.each do |workout| %>
    <p><%= workout.body %></p>
  <% end %>
<% else %>
  <p>no training week</p>
<% end %>
